/* "wght@" kısmına ;900 eklenerek Black font ağırlığı dahil edildi. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsiyonel: Tüm siteye daha pürüzsüz bir font render'ı sağlamak için */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar'ı tüm sitede gizlemek için */
/* Chrome, Safari, Opera ve Edge için */
::-webkit-scrollbar {
  display: none;
}

/* Firefox için */
* {
  scrollbar-width: none;
}

/* IE için (eski versiyonlar) */
body {
  -ms-overflow-style: none;
}

/* View Transitions Ayarları */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
}

/* Dinamik resim geçişleri için grup ayarları */
::view-transition-group(game-image-*) {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::view-transition-old(game-image-*),
::view-transition-new(game-image-*) {
  /* Resimlerin boyutları değişirken bozulmaması için */
  height: 100%;
  width: 100%;
  object-fit: cover;
}